#set( $symbol_dollar = '$' )
version: '3.4'
services:
#  Optional
#  ${rootArtifactId}-share:
#    image: ${symbol_dollar}{docker.share.image}:${symbol_dollar}{alfresco.share.docker.version}
#    environment:
#      REPO_HOST: ${rootArtifactId}-acs
#      REPO_PORT: 8080
#    ports:
#      - "${symbol_dollar}{share.port}:8080"
  ${rootArtifactId}-acs:
    image: alfresco-content-services-${rootArtifactId}:development
    build:
      dockerfile: ./Dockerfile
      context: ../../../target
    environment:
      JAVA_TOOL_OPTIONS: "${symbol_dollar}{keystore.settings}"
      JAVA_OPTS: "
        -Dsolr.secureComms=secret
        -Dsolr.sharedSecret=secret
        -Dmessaging.broker.url=\"failover:(nio://${rootArtifactId}-activemq:61616)?timeout=3000&jms.useCompression=true\"
        "
      CATALINA_OPTS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=0.0.0.0:8888"
    ports:
      - "${symbol_dollar}{acs.port}:8080"
      - "${symbol_dollar}{acs.debug.port}:8888"
    volumes:
      - ${rootArtifactId}-acs-volume:/usr/local/tomcat/alf_data
    depends_on:
      - ${rootArtifactId}-postgres
  ${rootArtifactId}-postgres:
    image: postgres:16.5
    environment:
      POSTGRES_DB: alfresco
      POSTGRES_USER: alfresco
      POSTGRES_PASSWORD: alfresco
    command: postgres -c max_connections=300 -c log_min_messages=LOG
    ports:
      - "${symbol_dollar}{postgres.port}:5432"
    volumes:
      - ${rootArtifactId}-db-volume:/var/lib/postgresql/data
  ${rootArtifactId}-ass:
    image: alfresco/alfresco-search-services:2.0.15
    environment:
      SOLR_ALFRESCO_HOST: ${rootArtifactId}-acs
      SOLR_ALFRESCO_PORT: 8080
      SOLR_SOLR_HOST: ${rootArtifactId}-ass
      SOLR_SOLR_PORT: 8983
      SOLR_CREATE_ALFRESCO_DEFAULTS: alfresco,archive
      ALFRESCO_SECURE_COMMS: "secret"
      JAVA_TOOL_OPTIONS: "-Dalfresco.secureComms.secret=secret"
    ports:
      - "8983:8983"
    volumes:
      - ${rootArtifactId}-ass-volume:/opt/alfresco-search-services/contentstore
      - ${rootArtifactId}-ass-volume:/opt/alfresco-search-services/data
  ${rootArtifactId}-activemq:
      image: alfresco/alfresco-activemq:5.18-jre17-rockylinux8
      mem_limit: 1g
      ports:
        - 8161:8161 # Web Console
        - 5672:5672 # AMQP
        - 61616:61616 # OpenWire
        - 61613:61613 # STOMP

volumes:
  ${rootArtifactId}-acs-volume:
    external: true
  ${rootArtifactId}-db-volume:
    external: true
  ${rootArtifactId}-ass-volume:
    external: true
