 -----
 Maven Alfresco Extension Archetype
 -----
 Alfresco
 -----



Welcome to the Maven Alfresco Extension Archetype home

 You've reached the ({{ ${site_pom_url} }}) Maven Alfresco Extension archetype home page (version: ${site_pom_version}) 



Description

	${site_pom_description}



Quick Start Project Creation

 For a quick start you can a maven alfresco extension project created by just running  <<(maven 2.0.6+ required)>>:

--------------------------------------------
mvn archetype:generate -DarchetypeCatalog=http://maven.alfresco.com/nexus/content/repositories/releases/archetype-catalog.xml
--------------------------------------------

  and then choose the option 'maven-alfresco-extension-archetype' and fill your custom project information. You can also do this via Eclipse
  using the m2eclipse plugin.



Run your project in 3 minutes

  The command below allows you to package your customization, run unit tests and eventually run jetty embedded with Alfresco

--------------------------------------------
mvn install -Prun
--------------------------------------------

  You should be able to point your browser to http://localhost:8080/alfresco and see your nice custom Alfresco running.
  You might need to raise the MAVEN_OPTS memory allocated to Maven, see the FAQ section for this {{faq.html}}. \
  
  <<Prerequisite>>:
  
  The only prerequisite is to have a Mysql instance running with proper permissions for the DB user, password and name configured in the POM.
  The default configuration can be found in the generated pom.xml file and goes as follows:

--------------------------------------------
  <alfresco.data.location>./alf_data_jetty</alfresco.data.location>
  <alfresco.db.name>alf_jetty</alfresco.db.name>
  <alfresco.db.username>alfresco</alfresco.db.username>
  <alfresco.db.password>alfresco</alfresco.db.password>
--------------------------------------------

