<?xml version="1.0" encoding="UTF-8"?>
<!-- Setup docBase to something like share-amp/target/share-amp-war
     and path to /share -->
<Context docBase="${app.amp.client.war.folder}" path="${share.client.contextPath}">

  <Resources className="org.apache.naming.resources.VirtualDirContext"
    extraResourcePaths="/=${project.build.directory}/${project.build.finalName}/web" />
    
     
    <Loader searchVirtualFirst="true" className="org.apache.catalina.loader.VirtualWebappLoader"
    virtualClasspath="${project.build.outputDirectory};${project.build.testOutputDirectory};${project.build.directory}/${project.build.finalName}/config" />
  
  <!-- This enables hot reloading of web resources from uncompressed jars (while in prod they would be loaded from  WEB-INF/lib/{\*.jar}/META-INF/resources -->
  <JarScanner scanAllDirectories="true" />
  
</Context>
