 -----
 Maven AMP Plugin
 -----




Welcome to the Maven Alfresco AMP plugin home

 You've reached the ({{ ${site_pom_url} }}) Maven Alfresco Extension archetype home page (version: ${site_pom_version}) 



Description

	${site_pom_description}


References

	Deployed at: {{ http://maven.alfresco.com/maven2/org/alfresco/maven/plugin }}
	
	Maven usage:
	
	
------------------------------------------		

			<dependency>
				<groupId>${site_pom_groupId}</groupId>
				<artifactId>${site_pom_artifactId}</artifactId>
				<version>${site_pom_version}</version>
				<!-- Used to have AMP lifecycle available -->
				<extensions>true</extensions>
			</dependency>

-------------------------------------------


	using this pluginRepository (either in POM or settings.xml) :
	
	
------------------------------------------		

			 <pluginRepository>
	            <id>ss-public</id>
	            <url>http://maven.alfresco.com/nexus/content/groups/public</url>
	          </pluginRepository>

-------------------------------------------


Quick usage

 Create a project using the maven-alfresco-amp-archetype (see {{ http://maven.alfresco.com/nexus/content/repositories/alfresco-docs/maven-alfresco-lifecycle/maven-alfresco-archetypes/maven-alfresco-amp-archetype/index.html }} ).