  ------
  Alfresco Maven All-in-One Archetype Advanced Usage
  ------
  Gabriele Columbro
  ------
  Nov 2012
  ------


All-in-One Archetype properties

    In each of the modules of the archetype (as in the whole Maven Alfresco SDK\x99) properties are configurable at many levels:
    
    * as POM properties
    
    * direclty in *.properties, particularly
    
        * For Alfresco WAR projects
        
            * <<<src/main/properties/<env>/alfresco-global.properties>>> (environment dependent <<<alfresco-global.properties>>> packaged in the WAR )
        
        * For Alfresco AMP projects
        
            * <<<src/test/properties/<env>/alfresco-global.properties>>> (environment dependent <<<alfresco-global.properties>>> for test WAR run)
    
    Build Environment (e.g. local, test, staging, prod) can be easily switched by setting the <<<<env>>>> property in your POM or
    adding <<<-Denv=yourEnv>>> on the command line.

* Common properties

    Archetype behavior can mostly be controlled directly in the POM, via common properties provided by the parent POM.
    See {{{../../poms/alfresco-sdk-parent/sdk-properties.html} SDK properties reference}} for details.

Parent POM and behavior customization 

    To customize the behavior of your project, check out full set of the properties and plugin configurations defined in the 
    {{{./poms/alfresco-sdk-parent/index.html}single entry point parent POM}}. 
    
    One quick way to do that is to use the <<<maven-help-plugin:effective-pom>>> to analyze your POM at runtime. 