  ------
  Building AMPs (Alfresco Module Packages) with Maven
  ------
  Gabriele Columbro
  ------
  Nov 2012
  ------

Introduction

  The Alfresco All-in-One Archetype is a multi-module project,
  leveraging Maven Alfresco SDK\x99 powerful capabilities to customize and run the full Alfresco platform embedded and all it's components.
  The archetype does not require additional download and provides a perfect starting point for full-blown Alfresco projects.

* Features
  
  Amongst other features, this archetype provides support for:
  
  * <<<amp>>> packaging support for your projects
  
  * AMP Dependency management and overlay in an Alfresco Repository or Share WAR
  
  * Embedded run in Jetty and embedded H2 database of the full Alfresco suite, including Repository, Share, Solr and Web Quick Start
  
  * Support for unit and integration testings

How to create a project:

  You can create the latest release archetype with the following command:
  
+---+
mvn archetype:generate -DarchetypeCatalog=https://artifacts.alfresco.com/nexus/content/groups/public/archetype-catalog.xml
+---+
  
  You should then:
  
  [[1]] Select the <<<alfresco-allinone-archetype>>> option
  
  [[2]] Specify the <<<groupId>>> and <<<artifactId>>> for the project you want to create
  
  [[3]] (<Optionally>) Select Alfresco Version / Edition (current default is: Alfresco Community 4.2.b)
  
 You can find new Alfresco All-in-One project ready to go in the <<<artifactId>>> folder.

Usage

  Instructions on how to use the Alfresco AMP archetype can be found on the {{{./usage.html}usage page}}, while 
  for more advanced use cases refer to the {{{./advanced-usage.html}advanced usage page}}
