import:
  - source: Alfresco/alfresco-build-tools:.travis.docker_login.yml@v1.0.1
  - source: Alfresco/alfresco-build-tools:.travis.java.yml@v1.0.1
  - source: Alfresco/alfresco-build-tools:.travis.pre-commit.yml@v1.0.1

dist: focal

git:
  depth: false
  quiet: true

branches:
  only:
    - master
    - /feature\/.*/
    - /fix\/.*/
    - sdk-4.2
    - /dev\/sdk-4.2-keystore/

stages:
  - name: test
    if: commit_message !~ /\[skip tests\]/
  - name: release
    if: commit_message ~= /\[release\]/ AND branch = master AND type != push AND type != pull_request AND fork = false

env:
  global:
    - MAVEN_INSTALL_CMD="mvn clean install -B"

jobs:
  include:
  
    - name: "default version"
      stage: test
      script: 
        - ${MAVEN_INSTALL_CMD}
    
    - name: "7.0 Enterprise"
      stage: test
      script:
        - ${MAVEN_INSTALL_CMD} -Penterprise-70-tests
    
    - name: "7.0 Community"
      stage: test
      script:
        - ${MAVEN_INSTALL_CMD} -Pcommunity-70-tests

    - name: "6.2 Enterprise"
      stage: test
      script:
        - ${MAVEN_INSTALL_CMD} -Penterprise-62-tests
    
    - name: "6.2 Community"
      stage: test
      script:
        - ${MAVEN_INSTALL_CMD} -Pcommunity-62-tests
    
    - name: "6.1 Enterprise"
      stage: test
      script:
        - ${MAVEN_INSTALL_CMD} -Penterprise-61-tests
    
    - name: "6.1 Community"
      stage: test
      script:
        - ${MAVEN_INSTALL_CMD} -Pcommunity-61-tests
