 -----
 Maven Alfresco Extension Archetype
 -----
 Alfresco
 -----



Welcome to the Maven Alfresco Share Archetype home

 You've reached the ({{ ${site_pom_url} }}) Maven Alfresco Extension archetype home page (version: ${site_pom_version}) 



Description

	${site_pom_description}



Quick Start Project Creation

 For a quick start you can a maven alfresco extension project created by just running  <<(maven 2.0.6+ required)>>:

--------------------------------------------
mvn archetype:generate -DarchetypeCatalog=http://maven.alfresco.com/nexus/content/repositories/releases/archetype-catalog.xml
--------------------------------------------

  and then choose the option 'maven-alfresco-share-archetype' and fill your custom project information. You can also do this via Eclipse
  using the m2eclipse plugin.



Run your project in 3 minutes

  The command below allows you to package your Share customization, run unit tests and eventually run jetty embedded with Alfresco

--------------------------------------------
mvn install -Prun
--------------------------------------------

  You should be able to point your browser to http://localhost:8081/share and see your nice custom Alfresco Share running.
  You might need to raise the MAVEN_OPTS memory allocated to Maven.
  
  <<Prerequisite>>:
  
  The only prerequisite is to have a previously running Alfresco instance (by default at http://localhost:8080/alfresco/). \
  You can configure the Alfresco endpoint and runtime directly via the generated pom.xml using the following POM properties:

--------------------------------------------
    <env>local</env>
    <share.servlet.port>8081</share.servlet.port>
--------------------------------------------

  The <<<<env>>>>> property (default 'local') is used to switch between the different property files in <<<src/main/properties>>> allowing fully environment
  independent builds. You can tune your Share behavior using your custom env and configuring an additional <<<application.properties>>> file.
  
  The <<<<share.servlet.port>>>> (default 8081) is the port bound by Jetty during run embedded.
  
