  ------
  Alfresco SDK\x99
  ------
  Gabriele Columbro
  ------
  Aug 2014
  ------

Introduction

  The Alfresco SDK\x99  - formerly Maven Alfresco SDK\x99, formerly {{{https://artifacts.alfresco.com/nexus/content/repositories/alfresco-docs/maven-alfresco-lifecycle/latest/index.html} Alfresco Lifecycle 3.9.1}} -
  provides a fully fledged Maven support for {{{http://www.alfresco.com}Alfresco ECM}} WAR and {{{https://wiki.alfresco.com/wiki/AMP_Files}AMP}} project development.
  Being fully integrated with Maven it allows to both leverage the vast number of Maven plugins for your Alfresco project as well as integrated your
  project easily in Open Source and Enterprise development processes.

  The Alfresco SDK\x99 is fully documented in the single components websites (see menu above).
  For official (Enterprise) support of this SDK please refer to the features and tutorials documented in {{{http://docs.alfresco.com/community/concepts/alfresco-sdk-intro.html}the Official Alfresco Documentation}}.
 
How to Use the SDK

  The easiest way to use the SDK is to create a sample project using one of the available <<archetypes>> (Repo AMP, Share AMP, All in One).
  
  You can also use the Alfresco SDK Parent POM directly in your Maven project to inherit Alfresco behaviors and configurations.
  
  
SDK Versions 
  
  As of version 2.0, releases for the Alfresco SDK are available in Maven Central.
  
  Maven Alfresco SDK 1.x versions rely on the {{{https://artifacts.alfresco.com/nexus/content/groups/public/}Alfresco Artifacts Repository}}.
  For documentation on the Maven Alfresco SDK\x99 1.x please refer to {{{https://artifacts.alfresco.com/nexus/content/repositories/alfresco-docs/alfresco-lifecycle-aggregator/latest/index.html} Maven Alfresco SDK 1.x}}
  
SDK Alfresco Compatibility

  Please refer to the {{{http://docs.alfresco.com/community/concepts/alfresco-sdk-compatibility.html}official Alfresco docs}} for details of SDK / Alfresco compatibility.  
  
  
Alfresco SDK\x99 components

  The Alfresco SDK relies on a number of components:

  * {{{./poms/alfresco-sdk-parent/index.html}The SDK parent POM}} providing full Alfresco project lifecycle feature, to be added as a <<<<parent>>>> in your projects

  * Archetypes providing sample project to kickstart your Alfresco development and boost it with best practices

      * the {{{./archetypes/alfresco-amp-archetype/index.html}Repo AMP}}, a single project that customizes Alfresco Repository

      * the {{{./archetypes/share-amp-archetype/index.html}Share AMP}}, a single project that customizes Alfresco Share 

      * the {{{./archetypes/alfresco-allinone-archetype/index.html}All-in-One}}, a multi-module project to customize and run all components

  * The {{{./plugins/alfresco-maven-plugin/index.html} Maven Alfresco Plugin}} to manage AMP packaging and dependencies
  
  * {{{https://artifacts.alfresco.com/nexus/content/repositories/alfresco-docs/alfresco-platform-distribution/latest}Alfresco Platform Distribution POM}} can (optionally) be used to provide centralized <<<<dependencyManagement>>>> on a particular Alfresco version / edition (Community / Enterprise)  

  * The {{{https://artifacts.alfresco.com}Alfresco Artifacts Repository}} provides backing for this SDK. Check the {{{http://wiki.alfresco.com/wiki/Alfresco_Artifacts_Repository}Alfresco Wiki}} for Community / Enterprise access information. 

Pre-requisites

* System prerequisites

    No manual Alfresco download, application server or database is required. 
    See details in the {{{./prerequisites.html} SDK pre-requisites page}}.

* Rapid development with Spring Loaded

    The SDK (as of 2.0) support true rapid development and IDE integration. To allow hot reload of Java classes the SDK leverages
    {{{https://github.com/spring-projects/spring-loaded}spring-loaded}}, a library which allows seamless reloading of classfiles.
    
    Check the {{{./prerequisites.html} SDK pre-requisites page}} to enable spring-loaded rapid development.

Project History

  * Born in 2007 with the name of {{{http://forge.alfresco.com/gf/project/maven4alfresco/}maven4alfresco}}, later committed on google Code as {{{https://code.google.com/p/maven-alfresco-archetypes/}Alfresco Archetypes}}

  * Created in 2008 the {{{https://groups.google.com/forum/?fromgroups#!forum/maven-alfresco}Alfresco Lifecycle Discussion Group}} in order to open roadmap and features with Alfresco Community

  * {{{https://artifacts.alfresco.com/}Maven Alfresco Repository}} is {{{http://mindthegab.com/2009/12/02/dreams-come-true-launching-the-alfresco-community-maven-repository/}launched}} in 2009 for Community and Enterprise Alfresco customers

  * In April 2012 version {{{https://groups.google.com/forum/?fromgroups=#!searchin/maven-alfresco/3.9.1/maven-alfresco/ZSX1t9W-Jcg/MB-YqAdnCAAJ}3.9.1 is released}}, which delivers Maven build support for all 3.x Alfresco versions

  * The {{{https://groups.google.com/forum/?fromgroups#!forum/maven-alfresco}Alfresco Lifecycle Discussion Group}} reaches 100 members in August 2012

  * In October 2012 Alfresco finalises the {{{https://issues.alfresco.com/jira/browse/ALF-14353} Maven modularisation and dependency categorisation}}, delivering {{{https://artifacts.alfresco.com}artifacts and poms}}

  * The new Maven Alfresco SDK 1.0 is released and presented on Tuesday 7 November at {{{http://devcon.alfresco.com/}Alfresco DevCon}} in Berlin.
  
  * The new Alfresco SDK 2.0 is released and presented on late 2014 November and released on Maven Central
