  ------
  Alfresco SDK Prerequisites
  ------
  Gabriele Columbro
  ------
  August 2014
  ------


Alfresco SDK\x99 Pre-Requisites


    The only real prerequisite of the Alfresco SDK\x99 Apache Maven 3.0.4 installed (and properly configured) on your machine;
    neither <<an IDE>> nor <<web container or database>> are required.
    
    Additional tips:
    
    * It is strongly advised to use the Apache Maven official binary distributions downloaded from the {{{http://maven.apache.org}official mirrors}}; avoid OS-specific distributions as much as possible.

    * add <<<MAVEN_OPTS="-Xms256m -Xmx1G -XX:PermSize=300m">>> to your environment if your plan to launch tests / run embedded in Tomcat
   
    * Refer to this {{{http://docs.alfresco.com/community/concepts/alfresco-sdk-compatibility.html}matrix}} for Alfresco/SDK version compatibility
    
    * Java 1.7 is <<required>> to run Alfresco 4.2.b+ and the SDK 1.1.x +
    
    * <<No manual downloading>> of Alfresco distribution is required.
     Alfresco platform is retrieved automatically from {{{https://artifacts.alfresco.com} the Alfresco Artifacts Repository}}
     based on the <<<alfresco.groupId>>> and <<<alfresco.version>>> POM properties 

    * If you're an Alfresco customer, you can setup a ~/.m2/settings.xml as documented on {{{http://docs.alfresco.com/4.2/tasks/dev-extensions-maven-sdk-tutorials-configure-maven-enterprise.html} Alfresco Docs page}} and specify <<<-Penterprise>>> on your Maven build command to use the latest Alfresco Enterprise version


Enable hot class reload with spring-loaded

    In order to enable hot class reload you should use the spring-loaded agent and run all your maven builds with it configured in the JVM.
    To achieve this you can:
    
    * Download the spring-loaded library from {{{http://search.maven.org/remotecontent?filepath=org/springframework/springloaded/1.2.0.RELEASE/springloaded-1.2.0.RELEASE.jar}here}}.
    
    * Export the following MAVEN_OPTS: <<<MAVEN_OPTS="$MAVEN_OPTS -javaagent:/path/to/your/springloaded/jar/springloaded-1.2.0.RELEASE.jar -noverify">>>. 

     
H2 Embedded Support Pre-Requisites

    This SDK allows H2 embedded run of Alfresco (<<NOTE>>: this is an unsupported configuration for Alfresco Enterprise) leveraging 
    the open source effort {{{https://github.com/skuro/alfresco-h2-support} Alfresco H2 Support}}. This bridge allows to emulate
    Alfresco expected DB behavior and is therefore very specific to every Alfresco version.
    
    Alfresco SDK\x99 ${project.version} uses version 1.5 of the Alfresco H2 Support. In case you experience
    issues with the embedded DB support, please check the {{{https://github.com/skuro/alfresco-h2-support/wiki/H2-Database-support-for-Alfresco} H2 Support Compatibility matrix}}.

    Alternatively, you can easily setup your DB access by defining {{{./poms/alfresco-sdk-parent/sdk-properties.html}POM properties}}

