<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>
   
   <!-- Web-tier cluster configuration -->
   <!-- Enable this section if you are clustering or load balancing the share.war i.e. multiple web-tiers behind a proxy -->
   <!-- If you have a single web-tier running against an Alfresco cluster via a reverse proxy you don't need this -->
   <!--
   <bean id="webframework.slingshot.persister.remote" class="org.springframework.extensions.surf.persister.PathStoreObjectPersister" parent="webframework.sitedata.persister.abstract">
      <property name="store" ref="webframework.webapp.store.remote" />
      <property name="pathPrefix"><value>alfresco/site-data/${objectTypeIds}</value></property>
      <property name="noncachableObjectTypes">
         <set>
            <value>page</value>
            <value>component</value>
         </set>
      </property>
   </bean>
   -->
   
   <!-- Override WebScripts searchpath - to include remote store -->
   <!-- This enables remote component load via a central Alfresco server -->
   <!--
   <bean id="webframework.webscripts.store.alfresco.remote" parent="webframework.store.remote.abstract">
      <property name="path"><value>alfresco/site-webscripts</value></property>
   </bean>
   <bean id="webframework.webscripts.searchpath" class="org.springframework.extensions.webscripts.SearchPath">
      <property name="searchPath">
         <list>
            <ref bean="webframework.webscripts.store.alfresco.remote" />
            <ref bean="webframework.webscripts.store.alfresco.custom" />
            <ref bean="webframework.webscripts.store.alfresco.classpath" />
            <ref bean="webframework.webscripts.store.classpath" />
            <ref bean="webscripts.store.alfresco" />
            <ref bean="webscripts.store" />
         </list>
      </property>
   </bean>
   -->
   
   <!-- Override Templates and Scripts searchpath - to include remote store -->
   <!-- This enables remote component load via a central Alfresco server -->
   <!--
   <bean id="webframework.templates.store.alfresco.remote" parent="webframework.store.remote.abstract">
      <property name="path"><value>alfresco/templates</value></property>
   </bean>
   <bean id="webframework.templates.searchpath" class="org.springframework.extensions.webscripts.SearchPath">
      <property name="searchPath">
         <list>
            <ref bean="webframework.templates.store.alfresco.remote" />
            <ref bean="webframework.templates.store.alfresco.custom" />
            <ref bean="webframework.webscripts.store.alfresco.custom" />
            <ref bean="webframework.templates.store.alfresco.classpath" />
            <ref bean="webframework.webscripts.store.alfresco.classpath" />
            <ref bean="webframework.templates.store.classpath" />
            <ref bean="webframework.webscripts.store.classpath" />
         </list>
      </property>
   </bean>
   -->

</beans>