#set($symbol_pound='#')
#set($symbol_dollar='$')
#set($symbol_escape='\' )
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Custom Share AMP Page Object Tests" parallel="false">
    <test name="DemoPageTest">
        <classes>
            <class name="${package}.demoamp.DemoPageTestIT"/>
        </classes>
    </test>
</suite>