 -----
 Maven Alfresco Extension Archetype
 -----
 Alfresco
 -----



Welcome to the Maven Alfresco AMP Archetype home

 You've reached the ({{ ${site_pom_url} }}) Maven Alfresco AMP archetype home page (version: ${site_pom_version}) 



Description

	${site_pom_description}
	
	
	You can use this Archetype to build and add AMPs to Alfresco WAR packages in conjunction with the maven-alfresco-extension-archetype.
	Using Maven you will benefit of a more structured and scalable way of using AMPs without the Module Management Tool (MMT). 



Quick Start (maven2)

 For a quick start you can a maven alfresco AMP project created by just running  <<(maven 2.1+ required)>>:

--------------------------------------------
mvn archetype:generate -DarchetypeCatalog=http://maven.alfresco.com/nexus/content/repositories/releases/archetype-catalog.xml
--------------------------------------------

  and then choose the option 'maven-alfresco-amp-archetype'


Usage 

 You can package and install your AMP module in the local Maven repo by just running
 
--------------------------------------------
mvn install
--------------------------------------------
 
 You can then use the AMP by depending on it using the Maven Alfresco Extension Archetype, without any external tool (e.g. MMT).
 See {{http://maven.alfresco.com/nexus/content/repositories/alfresco-docs/maven-alfresco-lifecycle/maven-alfresco-archetypes/maven-alfresco-extension-archetype/profiles.html}}