 -----
 Maven Alfresco Extension Archetype
 -----
 Sourcesense
 -----



Welcome to the Maven Alfresco AMP Archetype home

 You've reached the Sourcesense ({{ ${site_pom_url} }}) Maven Alfresco AMP archetype home page (version: ${site_pom_version}) 



Description

	${site_pom_description}



Quick Start (maven2)

 For a quick start you can a maven alfresco AMP project created by just running  <<(maven 2.0.6+ required)>>:

--------------------------------------------
mvn archetype:generate -DarchetypeCatalog=http://repository.sourcesense.com/maven2/archetype-catalog.xml
--------------------------------------------

and then choose the option 'maven-alfresco-amp-archetype'
