 -----
 Archetype Project Generated Layout
 -----



What do I have when I created the project?

 You will encounter an AMP project structure, filtered with values you provided in creation phase,
 which has the following layout:


------------------------------------------------------------------
 
 
src --------------------------------------------------------> (source folder)
		|
		|__ main ___ __ resources --------------------------> mapped in the classpath. Add here classpath resources
		|			|
		|			|__ config-----   alfresco module config goes here.
		|			|			  |	  Get's copied (by best practice) by build into package alfresco/module/groupId.artifactId.
		|			|			  |   This convention is used by the archetype and by the AMP unpacker.
		|			|			  |__ ex: alfresco/module/org.alfresco.mymodule ---> Example Alfresco module config 
		|			|
		|			|
		|			|__ java ------------------------------->  customization java classes
		|			|
		|			|__ webapp -----------------------------> AMP overlay folder - this folder is overlayed (so may overwrite other dependent AMPs)

		|			
		|__ test __ __ resources _
		|			|			  |
		|			|			  |__ alfresco/extension ---> alfresco overriding Spring contexts
		|			|
		|			|__ properties ------------------------->  environment aware application properties files  
		|			|			  |
		|			|			  |__ local  ------------->  default application.properties
		|			|
		|
		target - Project build dir

------------------------------------------------------------------

