  ------
  Introduction
  ------
  Gabriele Columbro
  ------
  Nov 2012
  ------

Introduction

  The Alfresco SDK Parent POM ${project.version} is the <<<single entry point>>> for all Maven Alfresco SDK\x99 features.
  It aggregates plugin configurations and dependencies to provide a set of profiles and properties to manage the full Alfresco projects Lifecycle on Maven.
  
  The current version of the POM in use in the Maven Alfresco SDK\x99 ${project.version} is available {{{https://artifacts.alfresco.com/nexus/index.html#nexus-search;gav~org.alfresco.maven~alfresco-sdk-parent~${project.version}~pom~}on Alfresco Maven Repository}}.
    
Usage
  
  You can reference Alfresco SDK POM in your POM adding the following snippet:

+---+
<project>
     ...
     <parent>
        <groupId>org.alfresco.maven</groupId>
        <artifactId>alfresco-sdk-parent</artifactId>
        <version>${project.version}</version>
    </parent>
    ...
</project>
+---+

  This will reference the Alfresco SDK project as <<<parent>>> project, allowing you to inherit all SDK features.
  Full dependency information for other build systems can be found in the {{{./dependency-info.html} Dependency Info page}}.
  
  Features are provided in terms of {{{./sdk-profiles.html} Maven profiles}}, and high configurability is provided with 
  {{{./sdk-properties.html}POM properties}} avaialble to sibling projects.
  
* Examples / archetypes

  To kickstart your SDK experience and to provide examples on how to use it, archetypes are available already using this POM.
  Check the menu item <SDK Components> for more samples.