  ------
  Alfresco SDK\x99 Profiles
  ------
  Gabriele Columbro
  ------
  Aug 2014
  ------
   
SDK Available Profiles

    The Alfresco SDK\x99 defines common features required by different Alfresco projects.
    While the <<<recommended>>> way is to use full working examples of usage of these profiles (e.g. the
    {{{../../archetypes/alfresco-amp-archetype/index.html}Repo AMP}},     {{{../../archetypes/share-amp-archetype/index.html}Share AMP} and {{{../../archetypes/alfresco-allinone-archetype/index.html}All-in-One}} archetypes),
    you can also directly use this POM as a parent in your custom project.
    
    Here goes the list of common used profiles (with their activation conditions):     


*-----------+--------------+-------------+-------------+-------------+
|| Archetypes || Profile  || Description || Activation || Phase      |
*-----------+--------------+-------------+-------------+-------------+
| amp, share-amp | amp-to-war         |  Allows AMP projects to be run embedded on a WAR and in rapid dev mode    |  Manual: <<<-Pamp-to-war>>>       | pre-integration-test |
*-----------*--------------*-------------*-------------*-------------+
| all-in-one |  run | Runs embedded Alfresco + Share + Solr in rapid dev mode                           | Manual: <<<-Prun>>>   | pre-integration-test |
*-----------*--------------*-------------*-------------*-------------+
| any | purge              |  Cleans all alf_data and logs from Alfresco runs      |  Manual: <<<-Ppurge>>>            | clean |
*-----------*--------------*-------------*-------------*-------------+
| any | enterprise   |Configures your build to use Alfresco Enterprise. Obtain your credentials with {{{https://support.alfresco.com}Alfresco Support}}| Manual: <<<-Penterprise>>>   | N/A |
*-----------+--------------+-------------+-------------+-------------+
| any | setup   | Sets up the sdk, e.g. grabs springloaded. | Manual: <<<-Psetup>>> (automated in the run.sh)   | initialize |
*-----------+--------------+-------------+-------------+-------------+
| all-in-one | rm   |  Adds Records Management runtime and compile time dependencies                              |  Manual: <<<-Prm>>>   | package |
*-----------+--------------+-------------+-------------+-------------+
| all-in-one | regression   | (Experimental) Invokes the Alfresco {{{https://github.com/AlfrescoLabs/technical-validation/}Share PO}} Webdrone / Selenium based regression tests| Manual: <<<-Pregression>>>   | integration-test |
*-----------+--------------+-------------+-------------+-------------+
| amp, share-amp | atv   | (Experimental) Invokes the {{{https://github.com/AlfrescoLabs/technical-validation/}Alfresco Technical Validation tool}} | Manual: <<<-Patv>>>   | validate |
*-----------+--------------+-------------+-------------+-------------+


    The full list of available profiles (with their activation conditions) can be instead found in the <<<profiles>>> section of the
    {{{https://artifacts.alfresco.com/nexus/index.html#nexus-search;gav~org.alfresco.maven~alfresco-sdk-parent~${project.version}~pom~}Alfresco SDK POM}}.

Full SDK properties reference 

    The full reference of properties defined in the SDK can be obtained by looking
    at the <<<properties>>> section of the current version of the <<<alfresco-sdk-parent>>> in use.
    Check the {{{https://artifacts.alfresco.com/nexus/index.html#nexus-search;gav~org.alfresco.maven~alfresco-sdk-parent~${project.version}~pom~}current POM version}} for this.
    
    While in certain cases it might be useful to override defaults, make sure you know what you're doing, 
    as you might be <<breaking>> SDK conventions and therefore <<your build>>
