  ------
  Maven Alfresco SDK Properties
  ------
  Gabriele Columbro
  ------
  Nov 2012
  ------
   
Common SDK properties
   
    Useful properties that can be fully controlled directly in the POM are:

+---+
<project>
    ...
    <!-- 
       | SDK properties have sensible defaults in the SDK parent,
       | but you can override the properties below to use another version. 
       | For more available properties see the alfresco-sdk-parent POM. 
       -->
    <properties>
        <alfresco.groupId>org.alfresco</alfresco.groupId>
        <alfresco.version>4.2.b</alfresco.version>
        <!-- Defines root logger log level for testing and embedded run -->
        <app.log.root.level>WARN</app.log.root.level>
        <!-- Logging dir. Note the trailing slash is required -->
        <app.log.dir>${project.build.directory}/</app.log.root.level>
        <!-- The alf_data folder -->
        <alfresco.data.location>alf_data_dev</alfresco.data.location>
        <!-- This controls which properties will be picked in src/test/properties for embedded run -->
        <env>local</env>
    </properties>
    ...
</project>    
+---+


Full SDK properties reference 

    The full reference of properties defined in the SDK can be obtained by looking
    at the <<<properties>>> section of the current version of the <<<alfresco-sdk-parent>>> in use.
    Check the {{{https://artifacts.alfresco.com/nexus/index.html#nexus-search;gav~org.alfresco.maven~alfresco-sdk-parent~${project.version}~pom~}current POM version}} for this.
    
    While in certain cases it might be useful to override defaults, make sure you know what you're doing, 
    as you might be <<breaking>> SDK conventions and therefore <<your build>>>

Example - Configuring custom DB

    In order to configure a given JDBC database connection, you need to define some POM properties.

+---+
<properties>
  ...
  <alfresco.db.name>alfresco</alfresco.db.name>
  <alfresco.db.username>alfresco</alfresco.db.username>
  <alfresco.db.password>alfresco</alfresco.db.password>
  <alfresco.db.params></alfresco.db.params>
  <alfresco.db.url>jdbc:mysql://${db.host}:${db.port}/${db.name}</alfresco.db.url>
  <alfresco.db.datasource.class>org.gjt.mm.mysql.Driver</alfresco.db.datasource.class>
</properties>
+---+
